@model IEnumerable<practic1.Models.Chesk>

                      @using (Html.BeginForm("Logoff", "Account", FormMethod.Post))
                      {
                      <button class="knopka">Выйти</button>
                      }


@*@Html.ActionLink("Предыдущий день", "Index", new { clas = Model.ID_класса, this_day = DateTimeOffset.Now.AddDays(Model.x - 1).DayOfWeek.ToString(), x = Model.x - 1 })
@Html.ActionLink("Следующий день", "Index", new { clas = Model.ID_класса, this_day = DateTimeOffset.Now.AddDays(Model.x + 1).DayOfWeek.ToString(), x = Model.x + 1 })*@
@*@if (ViewBag.day == "Monday")
    {
        @Html.ActionLink("Следующий день", "Index", new { clas = Model.FirstOrDefault().ID_класса, this_day = "Tuesday" })
    }
    else if (ViewBag.day == "Tuesday")
    {
        @Html.ActionLink("Следующий день", "Index", new { clas = Model.FirstOrDefault().ID_класса, this_day = "Wednesday" })
    }
    else if (ViewBag.day == "Wednesday")
    {
        @Html.ActionLink("Следующий день", "Index", new { clas = Model.FirstOrDefault().ID_класса, this_day = "Thursday" })
    }
    else if (ViewBag.day == "Thursday")
    {
        @Html.ActionLink("Следующий день", "Index", new { clas = Model.FirstOrDefault().ID_класса, this_day = "Friday" })
    }
    else if (ViewBag.day == "Friday")
    {
        @Html.ActionLink("Следующий день", "Index", new { clas = Model.FirstOrDefault().ID_класса, this_day = "Saturday" })
    }
    else if (ViewBag.day == "Saturday")
    {
        @Html.ActionLink("Следующий день", "Index", new { clas = Model.FirstOrDefault().ID_класса, this_day = "Sunday" })
    }
    else if (ViewBag.day == "Sunday")
    {
        @Html.ActionLink("Следующий день", "Index", new { clas = Model.FirstOrDefault().ID_класса, this_day = "Monday" })
    }*@


<table class="table">
    
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.День_недели</td>
            <td>
                @foreach (var item2 in ViewBag.время)
                {
                    
                <div>
                    @item2.Начало_занятия.Hours @item2.Начало_занятия.Minutes - @item2.Конец_занятия.Hours @item2.Конец_занятия.Minutes
                    @if (item.Предметы.Where(p => p.Номер_урока == item2.Номер_урока).Count() == 0)
                    {
                        <nobr>Нет занятия</nobr>
                    }
                    else
                    {

                        @item.Предметы.Where(p => p.Номер_урока == item2.Номер_урока).FirstOrDefault().Предметы.Название_предмета

                    }
                </div>
                }
            </td>
        </tr>
        }
    

</table>
