<!DOCTYPE html>
<html>

<head>

    @RenderSection("styles", false)
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
 
    <div class="container body-content">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<div class="rect4" >
    <h5>Адрес: 652470, Томская обл., г. Томск, ул. Ленина, 10</h5>
    <h5>Телефон/факс: +7 (38543) 6-58-20 — приёмная</h5>
    <h5>E-mail: school77@mail.ru</h5>
    </div>
