@model practic1.Models.LoginModel

<head>
    @Styles.Render("~/Content/Site.css")
</head>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<background1></background1>
<background2></background2>
<header>
    <div class="gentext2">ЭЛЕКТРОННЫЙ ЖУРНАЛ ШКОЛЫ №77</div>
</header>
<div class="sotext">Начните пользоваться онлайн-дневником прямо сейчас!</div>
<betweenrect></betweenrect>
<betweentext>
    Если вы забыли логин или пароль, обратитесь по телефону 7-800-333-55.
    Время приёма звонков: пн-пт 9:00-18:00, сб 12:00-15:00
</betweentext>
<div class="tex"></div>


<div class="f4">
    <div class="form-horizontal1">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "Логин", new { @class = "text-danger" })
        </div>


        <div class="col-md-10">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Password, "Пароль", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Войти" class="btn btn-default" />
            </div>
        </div>
    </div>
</div>

<div class="f1">
    <div class="textbox1">
        Доступность
    </div>
</div>
<div class="f2">
    <div class="textbox1">
        Удобство
        для каждого пользователя
    </div>
</div>
<div class="f3">
    <div class="textbox1">
        Надёжность
        Ваших данных
    </div>
</div>
<div class="gentext3"> С помощью электронного журнала вы сможете отслеживать успеваемость вашего ребенка в реальном времени</div>

<footer>
    <div class="gentext">Адрес: 652470, Томская обл., г. Томск, ул. Ленина, 10</div>
    <div class="gentext">Телефон/факс: +7 (38543) 6-58-20 — приёмная</div>
    <div class="gentext">E-mail: school77@mail.ru</div>
</footer>
    }

    @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    }

